* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 1vw; /* 1vw = 1% ширина экрана */
}

body {
  background: #171a21;
}
.wrapper {
  margin: 0 auto; /* Центрирование по горизонтали */
  padding-top: 10rem;
  width: 92rem;
  height: 26rem;
}
.slider-container {
  overflow: hidden;
}
.slider-track {
  display: flex;
  align-items: center;
}
.slide {
  width: 16rem;
  height: 24rem;
  position: relative;
  flex-shrink: 0; /* Чтобы блоки не сжимались, пытаясь влезть в одну строку*/

  margin: 0 0.8rem 1.23rem 0.8rem;

  box-sizing: border-box;
}
.rails {
  position: relative;
  width: inherit;
  height: 1rem;
}
.rail-thumb {
  background-color: #aaa;
  border-radius: 6px;
  position: absolute;
  width: 23rem;
  bottom: 0;
  height: 0.5rem;
}
.slide:first-of-type {
  margin-left: 0;
}
.slide:last-of-type {
  margin-right: 0;
}
.slide img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0.15rem solid #fff;
  border-radius: 1.25rem;
}
.game-info {
  position: absolute;
  height: inherit;
  width: inherit;

  display: none;

  text-align: center;

  background: rgba(0, 0, 0, 0.25);
  border: 0.2rem solid rgba(255, 255, 255, 0);
  border-radius: 1.25rem;
}
.game-info p {
  color: gold;
  font-family: "Bahnschrift";
  font-size: 2.5rem;
  padding-top: 9rem;
}
.slide:hover .game-info {
  display: block;
}
.slide:hover img {
  opacity: 0.3;
}
